" Основные настройки
" ==============================================================================

" Клавиша <leader>
let mapleader = ','

set history=1000
set scrolloff=5

set ignorecase
set smartcase
set incsearch
set hlsearch

set surround

" Работа с системным буфером обмена
" ==============================================================================
" Принцип такой: внутри редактора работаем с регистрами как обычно, но если
" необходимо задействовать системный буфер обмена, то используются клавиши
" Ctrl-C / Ctrl-V
"   - копирование: выделить с помощью визуального режима и нажать Ctrl-C
"   - вставка: Ctrl-V в нормальном, в визуальном или в insert-режиме

vnoremap <C-c> "+y


" Определения комбинаций клавиш
" ==============================================================================

" Normal mode
" -----------

" <Enter> в нормальном режиме - вставить пустую строку и остаться в нормальном режиме
nnoremap <silent> <CR> i<CR><Esc>

" В начало и в конец строки
nnoremap H ^
nnoremap L $

" Y - скопировать до конца строки (аналогично командам C и D)
noremap Y y$

" Выделить только что вставленный текст (например, для последующего сдвига)
" Стандартная команда gv - выделить ранее выделенный текст
noremap gV `[v`]

" Убрать подсветку найденной подстроки
nmap <silent> // :nohlsearch<CR>

" Показывать результат поиска в центре окна
nmap n nzz
nmap N Nzz
nmap * *zz
nmap # #zz
nmap g* g*zz
nmap g# g#zz

" Переключение между окнами (не вкладками!): <Tab>+hjkl
nnoremap <Tab> <C-W>

" Следующее окно: Tab-Tab
nnoremap <Tab><Tab> <C-W>w

" Предыдущее окно: Shift-Tab
nnoremap <S-Tab> <C-W>W

" Insert mode
" -----------

" Visual mode
" -----------

" Оставлять выделение после сдвига (indent)
vnoremap < <gv
vnoremap > >gv

" Комбинация клавиш, специфичных для IDEA
" ==============================================================================
" Очень удобно в самой IDEA настроить клавиши <Ctrl+J> и <Ctrl+K> как
" <Вниз> и <Вверх> соответственно. Тогда можно перемещаться и в диалогах.
"
" Префиксы для составных команд:
"
"   [ - навигация по тексту назад
"   ] - навигация по тексту вперед
"   <tab> - перейти к
"   <space> -
"   \ - запустить
"   o - открыть диалог

" Навигация по тексту
nnoremap [[ :action Back<CR>
nnoremap ]] :action Forward<CR>
nnoremap [m :action MethodUp<CR>
nnoremap ]m :action MethodDown<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>

" Перейти к
nnoremap <tab>c :action GotoClass<CR>
nnoremap <tab>d :action GotoDeclaration<CR>
nnoremap <tab>f :action GotoFile<CR>
nnoremap <tab>i :action GotoImplementation<CR>

"nnoremap <tab> :action GotoTypeDeclaration<CR>
"nnoremap <tab> :action GoToErrorGroup<CR>
"nnoremap <tab> :action GotoSuperMethod<CR>
"nnoremap <tab> :action GotoTest<CR>

" Контекстное меню Alt-Enter
nnoremap <space><space> :action ShowIntentionActions<CR>

"ChangeSplitOrientation

"CommentByBlockComment
"CommentByLineComment

"FileStructurePopup

"Find
"FindNext
"FindPrevious

"FindInPath
"FindModal

"FindUsages
"ShowUsages

"RenameElement
"Refactorings.QuickListPopupAction

"SurroundWith
