#!/bin/sh
#-------------------------------------------------------------------------------
# Скрипт выполняется при старте X-сессии пользователя _ДО_ старта WM
#-------------------------------------------------------------------------------


# Запустить немодальный переключатель раскладки клавиатуры
# (https://github.com/grafov/shift-shift)

[ -x $HOME/bin/shift-shift ] && \
  ( pidof shift-shift > /dev/null || $HOME/bin/shift-shift -quiet > /dev/null & )
