#!/bin/sh
#-------------------------------------------------------------------------------
# Скрипт выполняется при старте X-сессии пользователя _ДО_ старта WM или DE
#-------------------------------------------------------------------------------

# Запустить немодальный переключатель раскладки клавиатуры
# (https://github.com/grafov/shift-shift):
#   - левый Shift  - первая раскладка (us)
#   - правый Shift - вторая раскладка (ru)
#
#SHIFT_SHIFT_NAME=shift-shift-$(uname -i)
#
#[ -x $HOME/bin/$SHIFT_SHIFT_NAME ] && \
#  ( pidof $SHIFT_SHIFT_NAME > /dev/null || $HOME/bin/$SHIFT_SHIFT_NAME -quiet > /dev/null & )

# Запустить тонкую настройку клавиатуры

if [ -f $HOME/bin/xkb-tuning.sh ]
then
  [ ! -x $HOME/bin/xkb-tuning.sh ] && chmod a+x $HOME/bin/xkb-tuning.sh
  $HOME/bin/xkb-tuning.sh
fi

